Package: com.sladdagiri.igadblock
Name: IGAdBlock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Suraj Laddagiri 
Author: Suraj Laddagiri 
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
